<div class="block-list-inner">
    <div class="col-md-12">
        <div class="row">
            <table class="table toptable">
                <tr>
                    <td class="parentHash">
                        <div class="item">
                            <span>ParentHash</span>
                        </div>
                    </td>
                    <td class="parentDetail">
                        <div class="item">
                            <span title="{{BlockDetails?.parentHash}}">{{BlockDetails?.parentHash || '--'}}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <table class="table bottable">
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Nonce</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.nonce}}">{{BlockDetails?.nonce || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Logs Bloom</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.logsBloom}}">{{BlockDetails?.logsBloom || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>State Root</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.stateRoot}}">{{BlockDetails?.stateRoot || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Difficulty</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.difficulty}}">{{BlockDetails?.difficulty || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Extra Data</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.extraData}}">{{BlockDetails?.extraData || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Gas Limit</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.gasLimit}}">{{BlockDetails?.gasLimit || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Timestamp</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.timestamp}}">{{BlockDetails?.timestamp || '--'}}</span>
                            </div>
                        </td>
                    </tr>

                    <!--tr>
            <td colspan="2" class="transaction-title col-md-12">Transactions (Array)</td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Block Hash</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.blockHash || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>From</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.from || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Gas Price</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.gasPrice || '0'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Input</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.input || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>To</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.to || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Value</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.v || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>R</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.r || '--'}}</span>
            </td>
          </tr-->
                </table>
            </div>
            <div class="col-md-6 col-sm-6">
                <table class="table">
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Sha3Uncles</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.sha3Uncles}}">{{BlockDetails?.sha3Uncles || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Transactions Root</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.transactionsRoot}}">{{BlockDetails?.transactionsRoot || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Miner</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.miner}}">{{BlockDetails?.miner || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Total Difficulty</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.totalDifficulty}}">{{BlockDetails?.totalDifficulty || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Size</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.size}}">{{BlockDetails?.size || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Gas Used</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.gasUsed}}">{{BlockDetails?.gasUsed || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="item">
                                <span>Uncles</span>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="item">
                                <span title="{{BlockDetails?.sha3Uncles}}">{{BlockDetails?.sha3Uncles || '--'}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="col-md-12">&nbsp;</td>
                    </tr>
                    <!--tr>
            <td class="col-md-4">
              <span>Block Number</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.blockNumber || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Gas</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.gas || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Hash</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.hash || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Nonce</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.nonce || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Transaction Index</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.transactionIndex || '0'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>V</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.v || '--'}}</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>S</span>
            </td>
            <td class="col-md-8">
              <span>{{BlockDetails?.transactions[0]?.s || '--'}}</span>
            </td>
          </tr-->
                </table>
            </div>
        </div>
    </div>
</div>