<div class="container-fluid header">
  <div class="navbar-header">
    <a class="navbar-brand logo">
      <img src="/assets/images/quorum-maker.png">
    </a>
  </div>
  <div class="iconeRight pull-right">
    <ul class="nav navbar-nav ">
      <li>
        <a href="#">
          <img src="/assets/images/search.png">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/images/crossroad.png">
        </a>
        <div class="dropdown">

          <ul class="dropdown-menu">
            <li>
              <a href="#">Node A</a>
            </li>
            <li>
              <a href="#">Node B</a>
            </li>
            <li>
              <a href="#">Node C</a>
            </li>
            <li>
              <a href="#">Node D</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          <img src="/assets/images/top-bar.png">
        </a>
      </li>

    </ul>


  </div>
</div>
