<div class="p-dialog-wrapper email-server-config">
  <p-dialog [(visible)]="displayaccount" [modal]="true" [responsive]="true" [width]="600" [height]="510" draggable="true" closeOnEscape="true"
    dismissableMask="true" (onHide)="onClose()">

    <p-header class="header">
      <h2>Accounts</h2>
    </p-header>
    <div class="p-dialog-inner">
      <div class="row">
        <label class="col-md-4 float-left">Create New Account:</label>
        <input type="password" placeholder="Enter Password Here" class="form-control col-md-5 float-left" [(ngModel)]="pwdAccount">
        <div class="col-md-3 float-left">
          <button type="button" class="btn btn-green" (click)="addAccount(pwdAccount)">Submit</button>
        </div>
      </div>
      <hr/>
      <div class="v-scrollbar">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  &nbsp;
                </th>
                <th>Account Address</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr class="accounts" *ngFor="let account of accounts;let i = index">
                <td>
                  <span title="{{(account?.coinbase == true) ? 'Coinbase':''}}" [ngClass]="{'icon-coin': (account?.coinbase == false),'icon-coinbase':(account?.coinbase == true)}"></span>
                </td>
                <td>
                  <div class="text-overflow" title="{{account.accountAddress}}">{{account.accountAddress}}</div>
                </td>
                <td>{{account.balance}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </p-dialog>
