<div class="block-list-inner" [class.expanded]="isExpanded">
  <div class="col-md-12">
    <div class="row">
      <table class="table toptable">
        <tr>
          <td class="parentHash">
            <span>ParentHash</span>
          </td>
          <td class="parentDetail">
            <span>ParentHashdsdsds</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table bottable">
          <tr>
            <td class="col-md-4">
              <span>Nonce</span>
            </td>
            <td class="col-md-8">
              <span>0x0000000000000000</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Logs Bloom</span>
            </td>
            <td class="col-md-8">
              <span>0x000000000</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>State Root</span>
            </td>
            <td class="col-md-8">
              <span>0x000000000</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Difficulty</span>
            </td>
            <td class="col-md-8">
              <span>131072</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Extra Data</span>
            </td>
            <td class="col-md-8">
              <span>0x</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Gas Limit</span>
            </td>
            <td class="col-md-8">
              <span>3144658</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Timestamp</span>
            </td>
            <td class="col-md-8">
              <span>1.51496E+18</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="transaction-title col-md-12">Transactions (Array)</td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Block Hash</span>
            </td>
            <td class="col-md-8">
              <span>0x494897f527fc4d708c</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>From</span>
            </td>
            <td class="col-md-8">
              <span>0x12cd73865def668</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Gas Price</span>
            </td>
            <td class="col-md-8">
              <span>00</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Input</span>
            </td>
            <td class="col-md-8">
              <span>0x</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>To</span>
            </td>
            <td class="col-md-8">
              <span>0x12cd73865def668cc6</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Value</span>
            </td>
            <td class="col-md-8">
              <span>1000000</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>R</span>
            </td>
            <td class="col-md-8">
              <span>0x51299c676c4d740</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table">
          <tr>
            <td class="col-md-4">
              <span>Sha3Uncles</span>
            </td>
            <td class="col-md-8">
              <span>0x0000000000000000</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Transactions Root</span>
            </td>
            <td class="col-md-8">
              <span>0x000000000</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Miner</span>
            </td>
            <td class="col-md-8">
              <span>0x000000000</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Total Difficulty</span>
            </td>
            <td class="col-md-8">
              <span>131072</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Size</span>
            </td>
            <td class="col-md-8">
              <span>0x</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Gas Used</span>
            </td>
            <td class="col-md-8">
              <span>3144658</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Uncles</span>
            </td>
            <td class="col-md-8">
              <span>1.51496E+18</span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="col-md-12">&nbsp;</td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Block Number</span>
            </td>
            <td class="col-md-8">
              <span>01</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Gas</span>
            </td>
            <td class="col-md-8">
              <span>9000</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Hash</span>
            </td>
            <td class="col-md-8">
              <span>0xfefaebf1bed66fb..</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Nonce</span>
            </td>
            <td class="col-md-8">
              <span>00</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>Transaction Index</span>
            </td>
            <td class="col-md-8">
              <span>00</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>V</span>
            </td>
            <td class="col-md-8">
              <span>0x1b</span>
            </td>
          </tr>
          <tr>
            <td class="col-md-4">
              <span>S</span>
            </td>
            <td class="col-md-8">
              <span>0x5e8c4bbf8714be</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
