<p-growl [value]="msgs"></p-growl>
<p-dialog [(visible)]="display" modal="modal" [responsive]="true" [width]="760" [minWidth]="200" [minY]="70" closeOnEscape="true"
  dismissableMask="true" (onHide)="onClose()">
  <p-header class="header">Compile & Deploy Contracts</p-header>
  <div class="p-dialog-inner">
    <form novalidate [formGroup]="CompileDeployContractForm">
      <div class="row">
        <div class="col-md-12 form-group">
          <label>CHOOSE CONTRACT FILE</label>
          <input style="display: none" type="file" multiple id="chooseFile" class="form-control" (change)="onFileChange($event)" #fileInput/>
          <div class="form-control ">
            <button class="button-right" (click)="fileInput.click()">Choose File</button>
          </div>
          <ul class="fileList">
            <li class="listSpace" *ngFor="let file of filesToUpload">{{file.name}}
              <span class="cancel-icon">
                <a (click)="clearFile(file.name)">x</a>
              </span>
            </li>
          </ul>
          <span class="errorMsg">{{customMgs?.customMessageContract?.chooseFile}}</span>
        </div>
      </div>

      <div class="row">
        <ul class="col-md-8">
          <li class="listItem" *ngFor="let file of fileUploadResponse">
            <strong>Filename :</strong>
            <span>{{file.filename || '--'}}</span>
            <strong>Address :</strong>
            <span>{{file.address || '--'}}</span>
            <br>
            <strong>Bytecode :</strong>
            <span>{{file.bytecode|| '--'}}</span>
            <br>
            <strong>Interface :</strong>
            <span> {{file.interface|| '--'}}</span>
            <br>
            <strong>JSON :</strong>
            <span> {{file.json|| '--'}}</span>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-12 form-group" [ngClass]="displayFieldCssContract('networkRole')">
          <label for="networkRole">NETWORK PARTICIPANTS</label>
          <p-multiSelect [options]="networkRoleNodeList" formControlName="networkRole" [style]="{'width':'100%'}" placeholder="Select a Network Role"
            optionLabel="label" displaySelectedLabel="displayValue"></p-multiSelect>
          <span class="errorMsg">{{customMgs?.customMessageContract?.networkRole}}</span>
        </div>
      </div>
      <div class="row form-footer">
        <div class="col-md-12 form-group">
          <button type="submit" (click)="contractSubmit(CompileDeployContractForm.value)" class="btn btn-green pull-right">SUBMIT</button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
