<p-growl [value]="mesgshow"></p-growl>
<div class="abi-wrapper">
    <p-dialog [(visible)]="contractAbiDisplay" [modal]="true" [responsive]="true" [width]="760" [minWidth]="200" [minY]="70" closeOnEscape="true" dismissableMask="true" (onHide)="onClose()">
        <p-header class="header">
            <h4>{{title}}</h4>
        </p-header>
        <div class="p-dialog-inner">
            <!-- (ngSubmit)="submitForm()" -->
            <form novalidate class="form-wrapper-inner" [formGroup]="deployContractABI" *ngIf="!loadingForm">
                <div class="row compileDeploy">
                    <div class="col-md-6 form-group">
                        <label>Name</label>
                        <input name="name" type="text" [readonly]="contractFlag" id="name" formControlName="name" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address</label>
                        <input name="address" readonly type="text" id="address" formControlName="address" class="form-control">
                    </div>
                    <div class="col-md-6 form-group" *ngIf="contractFlag">
                        <label>Deployment Date</label>
                        <input name="name" type="text" [readonly]="contractFlag" value="{{contractAbi?.timestamp * 1000 | date : 'medium'}}" class="form-control">
                    </div>
                    <div class="col-md-6 form-group" *ngIf="contractFlag">
                        <label>Sender</label>
                        <input name="address" [readonly]="contractFlag" type="text" value="{{contractAbi?.sender}}" class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Description</label>
                        <input name="description" type="text" [readonly]="contractFlag" id="description" formControlName="description" class="form-control">
                    </div>
                    <div class="col-md-12 form-group" *ngIf="!contractFlag">
                        <label>Choose ABI File</label>
                        <div class="custom-upload">
                            <input name="file" type="file" id="selectFile" formControlName="selectFile" class="form-control" (change)="onSelectFile($event)">
                        </div>
                    </div>
                    <div class="col-md-12 form-group" *ngIf="contractFlag">
                        <label>ABI File</label>
                        <textarea class="w100per form-control" row="4" readonly>{{contractAbi.abi}}</textarea>
                    </div>
                </div>
                <div class="row form-footer" *ngIf="!contractFlag">
                    <div class="col-md-12 form-group">
                        <button type="submit" [disabled]="deployContractABI.invalid" (click)="submitForm(deployContractABI.value)" class="btn btn-green pull-right">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </p-dialog>
</div>