@font-face {
    font-family: 'Heebo-Bold';
    src: url('/assets/fonts/heebo-bold.eot');
    src: url('/assets/fonts/heebo-bold.woff2') format('woff2'), url('/assets/fonts/heebo-bold.woff') format('woff'), url('/assets/fonts/heebo-bold.ttf') format('truetype'), url('/assets/fonts/heebo-bold.svg#heebo-bold') format('svg'), url('/assets/fonts/heebo-bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo-Light';
    src: url('/assets/fonts/heebo-light.eot');
    src: url('/assets/fonts/heebo-light.woff2') format('woff2'), url('/assets/fonts/heebo-light.woff') format('woff'), url('/assets/fonts/heebo-light.ttf') format('truetype'), url('/assets/fonts/heebo-light.svg#heebo-light') format('svg'), url('/assets/fonts/heebo-light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo-Regular';
    src: url('/assets/fonts/heebo-regular.eot');
    src: url('/assets/fonts/heebo-regular.woff2') format('woff2'), url('/assets/fonts/heebo-regular.woff') format('woff'), url('/assets/fonts/heebo-regular.ttf') format('truetype'), url('/assets/fonts/heebo-regular.svg#heebo-regular') format('svg'), url('/assets/fonts/heebo-regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo-Medium';
    src: url('/assets/fonts/heebo-medium.eot');
    src: url('/assets/fonts/heebo-medium.woff2') format('woff2'), url('/assets/fonts/heebo-medium.woff') format('woff'), url('/assets/fonts/heebo-medium.ttf') format('truetype'), url('/assets/fonts/heebo-medium.svg#heebo-medium') format('svg'), url('/assets/fonts/heebo-medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}