/*Custom Fonts*/

$Heebo-Bold: 'Heebo-Bold';
$Heebo-Light:'Heebo-Light';
$Heebo-Regular:'Heebo-Regular';
$Heebo-Medium:'Heebo-Medium';
/*Fonts Colors*/

$LightGreyColor: #ccc;
$DarkGreyColor: #1b2136;
$WhiteColor:#fff;
$GreenColorBtn:#2dce71;
$GreenColorTxt:#00ffc8;
$VioletColor:#628fed;
$OrangeColor:#f5ba64;
$GreenGridColor:#20dcca;
$YellowGridColor:#f8e71c;
$VioletHeadGridColor:#3977e6;
$GreyBoderColor:#e4eaee;
$InputBorderColor:#dde3e8;
$GreyGridColor:#788995;
$blockGreyColor: #2b3045